/* Estilos Gerais */

body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(80, 0, 209);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* Botão - verificar */

.call {
    margin: 30px auto;
}


.btn:hover {
    color: rgb(80, 0, 209);
    border-color: rgb(80, 0, 209);
}



/* Barra superior */

.barra_endereco {
    background-color: #fbc2ed;
}

.endereco {
    max-width: 960px; /*Largura dos textos do menu, de acordo com o grid do Figma*/
    margin: 0 auto; /*Alinha ao centro*/
    display: flex; /*Para ficar um ao lado do outro*/
    justify-content: space-between; /*Para alinhar com espaçamento ao meio*/
    flex-wrap: wrap; /*Ocorre quebra para a próxima linha*/
    padding-top: 10px;
}

.endereco p, .endereco a {
    margin: 0 10px 10px 10px; /*Para centralizar na barrinha o "p" e o "a"*/
}


/* Barra-menu-marca */

.menu-bg {
    background-color: #f6dcec;
  
}

.menu {
    max-width: 960px; /*Largura dos textos do menu, de acordo com o grid do Figma*/
    margin: 0 auto;
    padding: 15px 0;
    display: flex; /*Fica um ao lado do outro.*/
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center; /*Fica no centro de cima para baixo*/
}

.minha-marca {
    margin: 0 20px;
}

.menu-nav ul {
    display: flex; /*lis um ao lado do outro*/
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em; /*20px dividido por 16px*/
    display: block; /*Por padrão o a é um display inline e queremos influenciar no padding dele*/
    padding: 10px; /*Cria uma área de contato maior*/
    color: rgb(80, 0, 209);
}

.menu-nav a:hover {
    color: #d40055;
}


/* PARA ESCREVER */
/*Sobre*/
.sobre {
    border-top: 2px solid #f6dcec;
    border-bottom: 2px solid #f6dcec;
    max-width: 960px; /*Para manter dentro do container*/
    margin: 0 auto;
    padding: 60px 0;
    display: flex; /*Para ficar um ao lado do outro e os filhos viram flex itens*/
    flex-wrap: wrap;
}

.sobre-info {
    flex: 2 1 300px; /*Para ocupar 2x mais o tamanho total das imagens*/
    /*flex 300px diminui o sobre no responsivo até chegar a esse tamanho*/
    margin: 0 10px; /*Criou um espaçamento por fora*/
}

.sobre-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.missao {
    font-size: 1.20em;
    margin: 20px auto;
    color: #d40055;
}

.sobre-img {
    flex: 1 1 160px; /*Para diminuir a imagem no responsivo até chegar a 160px, respeitando o shrink definido*/
    margin: 80px 10px; 
}


/* Footer */

.footer {
    max-width: 100%; 
    justify-content: space-between;
    display: flex;
    background-color: #FF96C0;
}

.footer p {
    margin: 20px;
    align-items: center; 
}

.redes {
    display: flex;
    align-items: center; 
}

.redes img:nth-child(odd) {
    margin-right: 30px;
}